<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ticData" providerName="System.Data.SqlClient" connectionString="Server=tcp:ticdbserver.database.windows.net,1433;Initial Catalog=TicDatabase;Persist Security Info=False;User ID=felixnikyannick;Password=Fhprojekt2020;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
</configuration>
